$bg: #0C0A09;
$bg-gray: #232323;

$home: #202232;
$white: #fff;
$black: #13131a;
$pink: #c80a48;
$blue: #58A4F8;
$gray: #D4D1CD;

$orange: #EE813C;
$turquoise: #30D5C8;
// $secondary-color: #ff652f;

$main-color: #d3ad7f;
$border: .1rem solid rgba(255, 255, 255, .3);

$primary-color: #272727;

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  // text-transform: capitalize;
  transition: .2s linear;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

@mixin media-phonever {
  @media screen and (max-width:450px) and (orientation: portrait) {
    @content
  }
}

@mixin media-phonehor {
  @media screen and (max-width:900px) {
    @content
  }
}

@mixin media-w1000 {
  @media screen and (max-width:1000px) {
    @content
  }
}